<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.ReaderTypeMapper">
    <!--读者列表-->
    <select id="readerTypeList" resultType="ReaderType">
        SELECT * FROM tb_readertype
    </select>
    <!--查询读者类型   名字-->
    <select id="selectReaderType" resultType="ReaderType">
    SELECT * FROM tb_readertype WHERE name =#{name}
    </select>
    <!--修改读者类型-->
    <update id="updataReaderType">
        UPDATE tb_readertype SET name=#{name},number=#{number} WHERE id=#{id}
    </update>
    <!--添加读者类型-->
    <insert id="addReaderType">
        insert into tb_readertype (name, number) values (#{name},#{number});
    </insert>
    <!--删除-->
    <delete id="delReaderType">
        DELETE FROM tb_readertype WHERE id=#{id}
    </delete>
</mapper>